/bitmap_web/.actionScriptProperties
/bitmap_web/.project
/bitmap_web/.settings
/bitmap_web/flash/*.fla

/Bubble/.actionScriptProperties

/Bubble/.project
/Bubble/html-template
/Bubble/.settings

/Bubble/bin/AppMain.swf
/Bubble/bin/loading.fla

/Bubble/src.rar
/Bubble/bin
